// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$base-blue: #23395b;
$base-red: #f73859;
$base-cyan: #7ac7c4;
$base-lightblue: #c4edde;
$base-yellow: #fde74c;
$base-green: #9bc53d;
$base-red: #e55934;
$base-orange: #fa7921;
