.banner {
  background-size: cover;
  background-position: center;
  height: 400px;
  vertical-align: center;
}

.banner .container {
  position: relative;
  top:100px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 36px;
  font-weight: bold;
}

.banner h2 {
  margin: 0;
  color: rgba(235,235,235,0.8);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 28px;
  font-weight: bold;
}


.banner h3 {
  margin: 0;
  color: rgba(235,235,235,0.8);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 24px;
  font-weight: bold;
}


.banner p {
  font-size: 20px;
  color: rgba(235,235,235,0.8);
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.container-home {
  padding: 16px;
  margin: 0 auto;
  margin-top: 16px;
  border-radius: 3px;
}

.container-home :hover{
  opacity: 0.95;
}

body {
  background-color: rgb(240, 240, 240);
}

.full-page {
  min-height: calc(100vh - 126px);
}
