.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.container-desc {
  width: 900px !important;
  display: flex;
  margin: 20px 20px 0 0;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 16px;
}

.row {
}
