<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Vivent les zizis dans les foufounes</p>
<br>
<br>
<br>
<h3>C'est ici qu'on va display notre homepage, after le form de recherche etc.</h3>
