<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://file1.telestar.fr/var/telestar/storage/images/2014/articles/news/gerard-depardieu-ivre-ne-peut-assister-au-festival-d-edimbourg-33113/251071-2-fre-FR/Gerard-Depardieu-ivre-ne-peut-assister-au-festival-d-Edimbourg_width1024.jpg);">
  <div class="container">
    <h3>Bienvenue chez</h3>
    <h1>Beers, beers & <strong>beers</strong></h1>
    <p>Find the most soulards aperos in town</p>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
