.select2-selection {
  border: 1px solid #ced4da !important;
  border-radius: 2px !important;
  width: 680px;
}


.select2-selection__choice {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  font-weight: 400;
  color: rgb(20,20,20);
}
