.carousel-item {
  box-sizing: inherit;
  background-size: cover;
  background-position: center;
}

#carouselExampleIndicators {
  width: 500px;
  height: 300px;

img {
  height: 300px;
}
}

@media(max-width: 992px) {
  .carousel {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .carousel {
    grid-template-columns: 1fr;
  }
}

@media(max-width: 480px) {
  .carousel {
    width: 250px;
    height: 150px;
  }
}
