.main-container {
  display: flex;
  justify-content: space-between;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
}

.card-apero {
  overflow: hidden;
  height: 160px;
  width: 700px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-grow: 1;
  // align-items: center;
  border-radius: 3px;
  // display: grid;
}

.card-apero img {
  height: 100%;
  width: 160px;
  // object-fit: cover;
}

.card-apero h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.card-apero h1 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 8px;
}

.card-apero p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 4px;
  text-decoration: none;
}

.card-apero .card-apero-infos {
  padding-left: 16px;
  padding-top: 10px;
}

.card a:link {
  text-decoration: none;
}



.cards-home {
  margin: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.pic-pochtron img {
  width: 155px;
}

.card-liste-pochtrons {
    background: #fff0;
    border: none;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-home {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-home {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-home {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-home {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-home {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.card-category-home {
    background-size: cover;
    background-position: center;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
