.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

// .mapboxgl-canvas {
//   width: 400px !important ;
// }

// .modal-body {
//   // padding-left: 10px !important ;
//   padding-right: 0px !important ;
// }
