.navbar-lewagon {
  justify-content: space-between;
  background: #23395b;
  padding: 15px 10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon a {
  color: black;
}

.fa-glass-cheers {
 font-size: 48px;
 color: #E88004;
}

.nav-links {
  color: white;
}
