.navbar-lewagon {
  justify-content: space-between;
  border-radius: 0px !important;
  background: $base-blue;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon a {
  color: black;
}

.fa-spin {
 font-size: 40px;
 margin-left: 20px;
 text-decoration: none;
}

.not-active {
  margin-right: 16px;
  opacity: 0.3;
    p {
    margin-bottom: 0px;
  }
}

.not-active:hover {
  opacity: 0.7;

}

.not-active.active {
  border-bottom: 2px solid white;
  opacity: 1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
