
.navbar-lewagon {
  justify-content: space-between;
  background: $base-red;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon a {
  color: white;
}
