.navbar-lewagon {
  justify-content: space-between;

  background: $base-blue;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon a {
  color: black;
}

.fa-spin {
 font-size: 40px;
 margin-left: 20px;
}

.nav-links {
  color: white;
}

.fa-spin {
  font-size: 40px;
  margin-left: 10px;
}
